# Node / Frontend
frontend/node_modules/

# Local Git Tools & Temp Files
git_tools/
*.sqlite3-journal

# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# System / OS
.DS_Store
Thumbs.db
